@model IEnumerable<DemoDaysApplication.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Black Diamond Owned Products Index and Inventory</h2>

<p>This is the inventory of each product that is owned by Black Diamond. That is, products present in kits 
    where the 'Territory' is set to
    'Black Diamond Inventory'. The 'Total Inventory' values you input should be the total owned by BD. 
    The  quantities under 'Inventory 
    Assigned to Events' here are only the BD owned product instances in kits assigned to events that are shipped.
    Products that are owned by reps are shown in the product kits that they own, and in events to be checked in and 
    out, but not here.</p>

<p><i>*new products are created by making new styles</i></p>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Total Inventory
                </th>
                <th>
                    Available Inventory
                </th>
                <th>
                    Assigned To Shipped Events
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>       
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedOutQuantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit Total Inventory</a>
            </td>
        </tr>
}
    </tbody>
</table>
