@model DemoDaysApplication.ViewModels.CustomerDetails_ViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            FirstName
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer_ViewModel.FirstName)
        </dd>
        <dt>
            LastName
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer_ViewModel.LastName)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer_ViewModel.Email)
        </dd>
        <dt>
            PhoneNumber
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer_ViewModel.PhoneNumber)
        </dd>
        <dt>
            Notes
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer_ViewModel.Notes)
        </dd>
        <dt>
            Age
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer_ViewModel.Age)
        </dd>
        <dt>
            Gender
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer_ViewModel.GenderName)
        </dd>


    </dl>
</div>

@if (Model.Customer_ViewModel.HasItemsCheckedOut == true)
{
    <hr />
    <div>
        <h4>Checked Out Products:</h4>
        <ul>
            @foreach (var productInstance in Model.ProductInstance_ViewModels)
            {
                <li>@productInstance.Name</li>
            }
        </ul>
    </div>

    <a asp-controller="Customers" asp-action="CheckIn" asp-route-customerId="@Model.Customer_ViewModel.Id">Check In This Customer</a>
    <hr />
}

<div>
    <a asp-controller="Customers" asp-action="CheckOut" asp-route-customerId="@Model.Customer_ViewModel.Id" asp-route-eventId="@Model.Customer_ViewModel.EventId">Check Out</a>
    <br /><br />
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Customer_ViewModel.Id">Edit Customer Details</a> |
    <a asp-action="Index" asp-route-eventId="@Model.Customer_ViewModel.EventId">Back to Customer List</a>
</div>









