@model DemoDaysApplication.ViewModels.ProductKitIndexList_ViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Kits</h2>



<p>
    @*<a asp-action="Create">Create New</a>*@
    <a asp-controller="ProductKits" asp-action="ChooseStyle" @*asp-route-eventId="@Model.Event_ViewModel.Id"*@>Add Product Kit</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Style
            </th>
            <th>
                Territory
            </th>
            <th>
                Event
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductKitIndex_ViewModels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StyleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerritoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="EventEdit" asp-route-id="@item.Id">Assign Event</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
