@model DemoDaysApplication.ViewModels.Style_ViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Style</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductTypeName)
        </dd>
    </dl>
</div>

<div>
    <h4>Products:</h4>
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>@product.Name</li>
        }
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
